.container{
    background-color: #FFFFFF;
    color: #0F0F2D;
    width: 400px;
    max-width: 100%;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
}

.container__title{
    text-align: center;
}

.line{
    width: 370px;
    border: .1px solid #E5E5E5; 
    margin: 0 auto;
}

.list{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
}

.list-li{
    display: inline-flex;
    flex-direction: column;
}

.list-span-1{
    color: #D3D3D3;
}

.list-span{
    color: #000000;
}

.tan{
    margin: 3px 0;
}

#gift{
    position: relative;
    top: 4px;
    right: 4px;
}

.botones{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 10px;
    margin: 10px 20px 20px 0;
}

button{
    cursor: pointer;
}